:host {
  --boxEdge: 128px;
  margin: 0px;
  padding: 0px;
  height: var(--boxEdge);
  width: var(--boxEdge);
  min-height: var(--boxEdge);
  max-height: var(--boxEdge);
  min-width: var(--boxEdge);
  max-width: var(--boxEdge);
  display: block;
}

.icon-link {
  height: var(--boxEdge);
  width: var(--boxEdge);
  min-height: var(--boxEdge);
  max-height: var(--boxEdge);
  min-width: var(--boxEdge);
  max-width: var(--boxEdge);
  display: block;
}

.icon-link.icon {
  object-fit: contain;
}
