body {
  /* force the body to be at least the viewport so that the background renders even with few containers */
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  /* this will keep the background fixed while we scroll */
  background-attachment: fixed;
  background-image: url("/images/disposed-droid.jpg");
  background-position: 0px 0px;
  background-repeat: repeat;
  /* filter: grayscale(100%); */
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.component {
  min-height: 100px;
  max-height: 600px;
  flex: 1 1 auto;
  align-self: baseline;
  font-size: 3em;
  border: 1px solid red;
}

.component.app-icon {
  /* we want app icons to be consistently sized */
  --boxEdge: 128px;

  min-height: var(--boxEdge);
  max-height: var(--boxEdge);
  min-width: var(--boxEdge);
  max-width: var(--boxEdge);

  img {
    min-height: var(--boxEdge);
    max-height: var(--boxEdge);
    min-width: var(--boxEdge);
    max-width: var(--boxEdge);
    object-fit: contain;
  }
}

/* let the footer be link backs to open source projects used for inspiration */
footer {
  position: sticky;
  bottom: 0px;
}
