<template>
  <div id="weather-location">
    <label for="weather-location-input">Which city?</label>
    <input id="weather-location-input"
           type="text"/>
    <button id="weather-location-save"
            type="button">Save
    </button>
  </div>
  <div id="weather-apikey">
    <label for="weather-apikey-input">Weather.Api key?</label>
    <input id="weather-apikey-input"
           type="password"/>
    <button id="weather-apikey-save"
            type="button">Save
    </button>
  </div>
  <div id="view"><span id="temp"></span><span id="icon"></span></div>
</template>
